firebase-admin~=6.7.0
fastapi~=0.115.12
uvicorn~=0.34.0
pydantic~=2.11.1
python-dotenv~=1.1.0
python-jose[cryptography]~=3.4.0
python-multipart
email-validator
httpx
pytest~=8.3.5
pytest-asyncio
pytest-mock
pytest-cov

requests~=2.32.3
starlette~=0.46.1
protobuf~=5.29.4